// colors

// $super-dark-blue: #162c50;
// $darker-blue: #1c417d;
// $blue: #2557a7;
// $light-blue: #c0d3f1;
// $lighter-blue: #f1f6fe;

// $darker-orange: #bc5206;
// $orange: #ef6807;
// $light-orange: #fdd3b5;
// $lighter-orange: #fef7f1;

// $darker-red: #991d0a;
// $red: #c0240c;
// $light-red: #fac0b7;
// $lighter-red: #feeeec;

// $darker-green: #065531;
// $green: #09864c;
// $light-green: #b7fadb;
// $lighter-green: #f5fefa;

// $black: #1f2a36;
// $light-black: #46505c;
// $lighter-black: #6f7981;

// $gray: #8d959e;
// $smoke-gray: #b0b7bc;
// $light-smoke: #c7ccd0;
// $pale-smoke: #dee1e5;
$white: #fff;

$color-list: (
  // super-dark-blue: $super-dark-blue,
  // darker-blue: $darker-blue,
  // blue: $blue,
  // light-blue: $light-blue,
  // lighter-blue: $lighter-blue,
  // darker-orange: $darker-orange,
  // orange: $orange,
  // light-orange: $light-orange,
  // lighter-orange: $lighter-orange,
  // darker-red: $darker-red,
  // red: $red,
  // light-red: $light-red,
  // lighter-red: $lighter-red,
  // darker-green: $darker-green,
  // green: $green,
  // light-green: $light-green,
  // lighter-green: $lighter-green,
  // black: $black,
  // light-black: $light-black,
  // lighter-black: $lighter-black,
  // gray: $gray,
  // smoke-gray: $smoke-gray,
  // light-smoke: $light-smoke,
  // pale-smoke: $pale-smoke,
  white: $white
);

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
