@mixin button-mixin($text, $border, $bg) {
  color: $text;
  border: 1px solid $border;
  background-color: $bg;
  &:hover {
    border: 1px solid darken($color: $border, $amount: 4%);
    background-color: darken($color: $bg, $amount: 4%);
  }
  &:disabled,
  &[disabled] {
    color: lighten($color: $text, $amount: 16%);
    border: 1px solid lighten($color: $border, $amount: 16%);
    background-color: lighten($color: $bg, $amount: 16%);
  }
}

.atom-button {
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  font-weight: 600 !important;
  transition: 0.4s ease-in-out;
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  &--small {
    padding: 2px 8px;
  }
  &--medium {
    padding: 4px 12px;
  }
  &--large {
    padding: 8px 16px;
  }

  &--block {
    width: 100%;
  }

  &--primary {
    color: $light-black;
    border: 1px solid $quill-gray;
    background-color: $quill-gray;
    &:disabled,
    &[disabled] {
      color: lighten($color: $light-black, $amount: 16%);
      border: 1px solid lighten($color: $quill-gray, $amount: 4%);
    }
    &:hover {
      border: 1px solid darken($color: $quill-gray, $amount: 4%);
      background-color: darken($color: $quill-gray, $amount: 4%);
    }
    &.atom-button--blue {
      @include button-mixin($white, $dark-blue, $blue);
    }
    &.atom-button--red {
      @include button-mixin($white, $dark-red, $red);
    }
    &.atom-button--yellow {
      @include button-mixin($white, $dark-yellow, $yellow);
    }
  }

  &--outline {
    color: $light-black;
    border: 1px solid $quill-gray;
    background-color: transparent;
    &:disabled,
    &[disabled] {
      color: lighten($color: $light-black, $amount: 16%);
      border: 1px solid lighten($color: $quill-gray, $amount: 4%);
      &:hover {
        background-color: transparent;
      }
    }
    &:hover {
      border: 1px solid darken($color: $quill-gray, $amount: 4%);
      background-color: rgba($color: #000000, $alpha: 0.04);
    }

    &.atom-button--blue {
      @include button-mixin($blue, $blue, $lighter-blue);
    }
    &.atom-button--red {
      @include button-mixin($red, $red, $lighter-red);
    }
    &.atom-button--yellow {
      @include button-mixin($yellow, $yellow, $lighter-yellow);
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__ripple {
    width: 20px;
    height: 20px;
    position: absolute;
    background: rgba($color: #000000, $alpha: 0.2);
    display: block;
    content: '';
    border-radius: 9999px;
    opacity: 1;
    animation: 1.6s ease 1 forwards ripple-effect;
  }
}
