.movie-card {
  &__link {
    color: $black;
    &:hover {
      color: $red;
    }
  }
}

.img-thumbnail {
  width: 100%;
  padding-top: calc(445 / 300 * 100%);
  position: relative !important;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  &:hover {
    .img-thumbnail__image {
      transform: scale(1.1);
    }
    .img-thumbnail__preview-cta {
      opacity: 100;
    }
  }
  &__item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    transition: 0.4s;
  }
  &__preview-cta {
    z-index: 99;
    width: 100%;
    background-color: rgba($color: $black, $alpha: 0.6);
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}
